**/.circleci
**/.editorconfig
**/.dockerignore
**/.git
**/.DS_Store
**/.vscode
**/node_modules
**/coverage
**/dist
**/junit.xml
**/*.log

# Specific patterns to ignore
data-node
meili_data*
librechat*
Dockerfile*
docs
client/public/images/**

# Ignore all hidden files
.*
